body{
    background-image: url(../images/img_cobra_pgespecies.png);
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    margin: 0; 
}

header{
    display: flex;
    background-color: #e5e1cd;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 160px;
}

header ul{
    margin-right: 150px;
}

header ul li{
    display: inline-block;
    margin-right: 125px;
    margin-top: 5px;
}

header ul li a{
    text-decoration: none;
    color: #4B6B43;
    transition: 0.6s;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

header ul li a:hover{
    color: #87B900;
}

#logo{
    width: 160px;
    height: 120px;
    margin-left: 250px;
    margin-top: 5px;
}

main{
    color: #87B900;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#cor_ativo{
    color: #87B900 
}

#botao_voltar{
    position: absolute;
    top: 200px;
    left: 100px;
    width: 75px;
    height: 75px;
}

#titulo{    
    font-size: 60px;
    padding: 45px;
}

.descricao-tema{
    color: #4B6B43;
    background-color: #e5e1cd ;
    padding: 40px;
    margin-top: 10px;
    margin-bottom: 120px;
    display: flex;
    font-size: 40px;
}

.descricao-tema p{
    font-size: 20px;
    text-align: justify;
    max-width: 1360px;
    margin-left: 200px;
    margin-right: 80px;
}

.fundo_cards1{
    background-color: #e5e1cd;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    height: 650px;
    color: #4B6B43;
}

.fundo_cards2{
    background-color: #4B6B43;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    height: 650px;
    color: #e5e1cd;
}

.fundo_cards3{
    background-color: #4B6B43;
    display: flex;
    justify-content: space-around;
    padding: 60px;
    height: 700px;
    margin-bottom: -100px;
    color: #e5e1cd;
}

.card_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_verde{
    background-color: #4B6B43;
    height: 460px;
    width: 460px;
    border-radius: 20px;
}

.card_verde:hover{
    transform: scale(1.08);
    transition: 0.8s;
}

.card_bege{
    background-color: #e5e1cd;
    height: 460px;
    width: 460px;
    border-radius: 20px;
}

.card_bege:hover{
    transform: scale(1.08);
    transition: 0.8s;
}

.card_verde img{
    height: 425px;
    width: 425px;
    border-radius: 20px;
    margin-top: 17px;
}



.card_bege img{
    height: 425px;
    width: 425px;
    border-radius: 20px;
    margin-top: 17px;
}


.ancora img{
    height: 60px;
    width: 65px;
    margin-left: 1650px;
    margin-bottom: 185px;
}

footer{
    background-color: #313030;
    margin-top: -160px;
    padding: 15px;
}

footer p {
    line-height: 5px;
    color: #fffff0;
}

footer a {
    text-decoration: none;
}

.linha::after{
    content: '';
    height: 2px;
    background-color: #4C4949;
    display: block;
    width: 1920; 
}

.rodape{
    display: flex;
    justify-content: space-between;
}